# webscrape
fake_useragent

# deep learning, AI, machine learning
gymnasium
torch
torchaudio
torchvision
transformers
datasets
torchdata
evaluate
rouge_score
loralib
peft
langchain
sentencepiece
einops
bitsandbytes
smolagents
tools
llama_index
gymnasium
gymnasium[classic-control, toy-text, atari, accept-rom-license, box2d, mujoco]
gymnasium[other]
numpy
torch
matplotlib
pandas
scipy
opencv-python
pytorch-ignite



# data science
pandas
matplotlib
networkx
numpy
scikit-learn
seaborn
statsmodels


# python notebook
ipywidgets
ipykernel
jupyterlab
notebook
IPython
voila

# other packages
PyPDF2
#caer
#diagrams
drawsvg
geodatasets
pymupdf
