jupyterlab
ipywidgets==7.7.1
torch
numpy
seaborn
numpy
scikit-learn
pandas
matplotlib 
torchvision
torchaudio 
gym
ipykernel
pybullet
opencv-contrib-python
caer
fastai
diagrams
drawsvg
IPython
graphviz
matplotlib_venn
