IPython
PyPDF2
caer
diagrams
drawsvg
fastai
graphviz
gym
ipykernel
ipywidgets==7.7.1
jupyterlab
matplotlib
matplotlib_venn
networkx
numpy
opencv-contrib-python
pandas
pybullet
pymupdf
scikit-learn
seaborn
statsmodels
torch
torchaudio
torchvision
