jupyterlab
ipywidgets==7.7.1
torch
numpy
seaborn
networkx
statsmodels
scikit-learn
pandas
matplotlib 
torchvision
torchaudio 
gym
ipykernel
pybullet
PyPDF2
opencv-contrib-python
caer
fastai
diagrams
drawsvg
IPython
graphviz
matplotlib_venn
